body {
    font-family: sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #008cba;
}

.user-input{

}

.change-pixel {
    border:none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008cba;
}

.pixel-value {
    height: 36px;
    font-size: 16px;
}

.canvas {
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 1px solid gray;

}

.canvas div {
    
    border: 1px solid gray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s ;
}

.canvas div:hover{
    background-color: aqua;
}